/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) .jumbotron .h1,
.jumbotron h1 {
    font-size: 30px;
}

.h1,
h1 {
    font-size: 30px;
}

.col-md-3 {
    min-height: 0px;
}

.custom-dropdown {
    -webkit-appearance: none;
    /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
    -moz-appearance: none;
    /*REMOVES DEFAULT FIREFOX STYLE*/
    border: 0 !important;
    /*REMOVES BORDER*/
    color: #000;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    background: lightgray url(img/drop-down-arrow.png) no-repeat right center;
    ;
    background-size: 40px 37px;
    /*TO ACCOUNT FOR @2X IMAGE FOR RETINA */
}

.prodDesc {
    line-height: 1.5em;
    height: 5em;
    font-size: .8em;
    overflow: hidden;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
    width: 100%;
}

.pg-normal {
    color: black;
    padding: 6px 15px;
    margin: 4px;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    background: lightgray;
}

.pg-normal:hover {
    color: white;
    background: black;
}

.pg-selected {
    color: white;
    padding: 6px 15px;
    margin: 4px;
    background: black;
    text-decoration: underline;
    cursor: pointer;
}

.row-centered {
    /*text-align:center;*/
}

.col-centered {
    position: relative;
    float: none;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
}
